body, html{
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow: auto;
}
canvas{
    background-color: antiquewhite;
    z-index: -1;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    pointer-events: none;
}